html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  padding: 0;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  outline:none;
  font-weight: 300;
  background-color: #1dce94;
  border: none;
  border-radius: 500px;
  color: white;
  padding:0.5rem 1rem;
  transition: all 0.3s;

  &:hover{
    color: #1dce94;
    background-color: white;
  }

  &:active{
    background-color: #cbcbcb;
  }
}

.canvas {
  display: block;
  cursor: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
